.cha {
    width: 40px;
    position: absolute;
    left: 280px;
    text-align: center;
    background: skyblue;
}

.list {
    margin-top: 50px;
}

.shanchu {
    background: skyblue;
}

.add-btn {
    float: right;
    font-size: 30px;
}